In [45]:
import pysmashgg
import pandas as pd
from config import key
import numpy as np

In [2]:
key = key
smash = pysmashgg.SmashGG(key, True)

In [3]:
smashcon2022 = 'super-smash-con-2022'
tournament = smash.tournament_show(smashcon2022)
print(tournament)

{'id': 326786, 'name': 'Super Smash Con 2022', 'country': 'US', 'state': 'VA', 'city': 'Chantilly', 'startTimestamp': 1660240800, 'endTimestamp': 1660525200, 'entrants': 3936}

In [7]:
top8_sets = smash.bracket_show_sets(1829817, 1)
print(top8_sets)

[{'id': 50720147, 'entrant1Id': 10533092, 'entrant2Id': 10519227, 'entrant1Name': 'Catway | Onin', 'entrant2Name': 'Maister', 'entrant1Score': 3, 'entrant2Score': 1, 'completed': True, 'winnerId': 10533092, 'loserId': 10519227, 'winnerName': 'Catway | Onin', 'loserName': 'Maister', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 1063610, 'playerTag': 'Onin'}], 'entrant2Players': [{'playerId': 135042, 'playerTag': 'Maister'}]}, {'id': 50720146, 'entrant1Id': 10533092, 'entrant2Id': 10519227, 'entrant1Name': 'Catway | Onin', 'entrant2Name': 'Maister', 'entrant1Score': 3, 'entrant2Score': 0, 'completed': True, 'winnerId': 10533092, 'loserId': 10519227, 'winnerName': 'Catway | Onin', 'loserName': 'Maister', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 1063610, 'playerTag': 'Onin'}], 'entrant2Players': [{'playerId': 135042, 'playerTag': 'Maister'}]}, {'id': 50720162, 'entrant1Id': 10519227, 'entrant2Id': 10540252, 'entrant1Name': 'Maister', 'entrant2Name': 'Moist | Light', 'entrant1Score': 3, 'entrant2Score': 1, 'completed': True, 'winnerId': 10519227, 'loserId': 10540252, 'winnerName': 'Maister', 'loserName': 'Moist | Light', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 135042, 'playerTag': 'Maister'}], 'entrant2Players': [{'playerId': 158871, 'playerTag': 'Light'}]}, {'id': 50720161, 'entrant1Id': 10540252, 'entrant2Id': 10614450, 'entrant1Name': 'Moist | Light', 'entrant2Name': 'Solary | Glutonny', 'entrant1Score': 3, 'entrant2Score': 1, 'completed': True, 'winnerId': 10540252, 'loserId': 10614450, 'winnerName': 'Moist | Light', 'loserName': 'Solary | Glutonny', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 158871, 'playerTag': 'Light'}], 'entrant2Players': [{'playerId': 6122, 'playerTag': 'Glutonny'}]}, {'id': 50720144, 'entrant1Id': 10533092, 'entrant2Id': 10614450, 'entrant1Name': 'Catway | Onin', 'entrant2Name': 'Solary | Glutonny', 'entrant1Score': 3, 'entrant2Score': 1, 'completed': True, 'winnerId': 10533092, 'loserId': 10614450, 'winnerName': 'Catway | Onin', 'loserName': 'Solary | Glutonny', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 1063610, 'playerTag': 'Onin'}], 'entrant2Players': [{'playerId': 6122, 'playerTag': 'Glutonny'}]}, {'id': 50720145, 'entrant1Id': 10519227, 'entrant2Id': 10540252, 'entrant1Name': 'Maister', 'entrant2Name': 'Moist | Light', 'entrant1Score': 3, 'entrant2Score': 0, 'completed': True, 'winnerId': 10519227, 'loserId': 10540252, 'winnerName': 'Maister', 'loserName': 'Moist | Light', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 135042, 'playerTag': 'Maister'}], 'entrant2Players': [{'playerId': 158871, 'playerTag': 'Light'}]}, {'id': 50720159, 'entrant1Id': 10540252, 'entrant2Id': 9844675, 'entrant1Name': 'Moist | Light', 'entrant2Name': 'Liquid | Dabuz', 'entrant1Score': 3, 'entrant2Score': 0, 'completed': True, 'winnerId': 10540252, 'loserId': 9844675, 'winnerName': 'Moist | Light', 'loserName': 'Liquid | Dabuz', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 158871, 'playerTag': 'Light'}], 'entrant2Players': [{'playerId': 4702, 'playerTag': 'Dabuz'}]}, {'id': 50720160, 'entrant1Id': 10614450, 'entrant2Id': 10737283, 'entrant1Name': 'Solary | Glutonny', 'entrant2Name': 'T1 | MkLeo', 'entrant1Score': 3, 'entrant2Score': 1, 'completed': True, 'winnerId': 10614450, 'loserId': 10737283, 'winnerName': 'Solary | Glutonny', 'loserName': 'T1 | MkLeo', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 6122, 'playerTag': 'Glutonny'}], 'entrant2Players': [{'playerId': 222927, 'playerTag': 'MkLeo'}]}, {'id': 50720157, 'entrant1Id': 10546436, 'entrant2Id': 9844675, 'entrant1Name': 'Liquid | Riddles', 'entrant2Name': 'Liquid | Dabuz', 'entrant1Score': 1, 'entrant2Score': 3, 'completed': True, 'winnerId': 9844675, 'loserId': 10546436, 'winnerName': 'Liquid | Dabuz', 'loserName': 'Liquid | Riddles', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 160464, 'playerTag': 'Riddles'}], 'entrant2Players': [{'playerId': 4702, 'playerTag': 'Dabuz'}]}, {'id': 50720158, 'entrant1Id': 10737283, 'entrant2Id': 10552062, 'entrant1Name': 'T1 | MkLeo', 'entrant2Name': 'Moist | Kola', 'entrant1Score': 3, 'entrant2Score': 1, 'completed': True, 'winnerId': 10737283, 'loserId': 10552062, 'winnerName': 'T1 | MkLeo', 'loserName': 'Moist | Kola', 'bracketName': 'Top 8 (BO5)', 'entrant1Players': [{'playerId': 222927, 'playerTag': 'MkLeo'}], 'entrant2Players': [{'playerId': 18802, 'playerTag': 'Kola'}]}]

In [9]:
top8_df = pd.DataFrame(data=top8_sets, columns=top8_sets[0].keys())
top8_df

,id,entrant1Id,entrant2Id,entrant1Name,entrant2Name,entrant1Score,entrant2Score,completed,winnerId,loserId,winnerName,loserName,bracketName,entrant1Players,entrant2Players
0,50720147,10533092,10519227,Catway | Onin,Maister,3,1,True,10533092,10519227,Catway | Onin,Maister,Top 8 (BO5),"[{'playerId': 1063610, 'playerTag': 'Onin'}]","[{'playerId': 135042, 'playerTag': 'Maister'}]"
1,50720146,10533092,10519227,Catway | Onin,Maister,3,0,True,10533092,10519227,Catway | Onin,Maister,Top 8 (BO5),"[{'playerId': 1063610, 'playerTag': 'Onin'}]","[{'playerId': 135042, 'playerTag': 'Maister'}]"
2,50720162,10519227,10540252,Maister,Moist | Light,3,1,True,10519227,10540252,Maister,Moist | Light,Top 8 (BO5),"[{'playerId': 135042, 'playerTag': 'Maister'}]","[{'playerId': 158871, 'playerTag': 'Light'}]"
3,50720161,10540252,10614450,Moist | Light,Solary | Glutonny,3,1,True,10540252,10614450,Moist | Light,Solary | Glutonny,Top 8 (BO5),"[{'playerId': 158871, 'playerTag': 'Light'}]","[{'playerId': 6122, 'playerTag': 'Glutonny'}]"
4,50720144,10533092,10614450,Catway | Onin,Solary | Glutonny,3,1,True,10533092,10614450,Catway | Onin,Solary | Glutonny,Top 8 (BO5),"[{'playerId': 1063610, 'playerTag': 'Onin'}]","[{'playerId': 6122, 'playerTag': 'Glutonny'}]"
5,50720145,10519227,10540252,Maister,Moist | Light,3,0,True,10519227,10540252,Maister,Moist | Light,Top 8 (BO5),"[{'playerId': 135042, 'playerTag': 'Maister'}]","[{'playerId': 158871, 'playerTag': 'Light'}]"
6,50720159,10540252,9844675,Moist | Light,Liquid | Dabuz,3,0,True,10540252,9844675,Moist | Light,Liquid | Dabuz,Top 8 (BO5),"[{'playerId': 158871, 'playerTag': 'Light'}]","[{'playerId': 4702, 'playerTag': 'Dabuz'}]"
7,50720160,10614450,10737283,Solary | Glutonny,T1 | MkLeo,3,1,True,10614450,10737283,Solary | Glutonny,T1 | MkLeo,Top 8 (BO5),"[{'playerId': 6122, 'playerTag': 'Glutonny'}]","[{'playerId': 222927, 'playerTag': 'MkLeo'}]"
8,50720157,10546436,9844675,Liquid | Riddles,Liquid | Dabuz,1,3,True,9844675,10546436,Liquid | Dabuz,Liquid | Riddles,Top 8 (BO5),"[{'playerId': 160464, 'playerTag': 'Riddles'}]","[{'playerId': 4702, 'playerTag': 'Dabuz'}]"
9,50720158,10737283,10552062,T1 | MkLeo,Moist | Kola,3,1,True,10737283,10552062,T1 | MkLeo,Moist | Kola,Top 8 (BO5),"[{'playerId': 222927, 'playerTag': 'MkLeo'}]","[{'playerId': 18802, 'playerTag': 'Kola'}]"

In [50]:
# players = ['Catway | Onin', 'Maister', 'T1 | MkLeo', 'Moist | Kola', 'Liquid | Riddles', 'Solary | Glutonny', 'Liquid | Dabuz', 'Moist | Light']

wins = {}
win_count = 0

for player in unique_players:
    win_count = 0
    for i in range(0, len(top8_df['winnerName'])):
        if player == top8_df['winnerName'][i]:
            win_count += 1
            print(top8_df['winnerName'][i])
    wins[player] = win_count
wins

# Arguments for the function: name of the dataframe

Catway | Onin
Catway | Onin
Catway | Onin
Liquid | Dabuz
Maister
Maister
Moist | Light
Moist | Light
Solary | Glutonny
T1 | MkLeo

{'Catway | Onin': 3,
 'Liquid | Dabuz': 1,
 'Liquid | Riddles': 0,
 'Maister': 2,
 'Moist | Kola': 0,
 'Moist | Light': 2,
 'Solary | Glutonny': 1,
 'T1 | MkLeo': 1}

In [43]:
players_list = top8_df.loc[:, ['entrant1Name', 'entrant2Name']]
players_list

        entrant1Name       entrant2Name
0      Catway | Onin            Maister
1      Catway | Onin            Maister
2            Maister      Moist | Light
3      Moist | Light  Solary | Glutonny
4      Catway | Onin  Solary | Glutonny
5            Maister      Moist | Light
6      Moist | Light     Liquid | Dabuz
7  Solary | Glutonny         T1 | MkLeo
8   Liquid | Riddles     Liquid | Dabuz
9         T1 | MkLeo       Moist | Kola

In [46]:
unique_players = np.unique(players_list)
unique_players

array(['Catway | Onin', 'Liquid | Dabuz', 'Liquid | Riddles', 'Maister',
       'Moist | Kola', 'Moist | Light', 'Solary | Glutonny', 'T1 | MkLeo'],
      dtype=object)

In [60]:
def win_count(bracket):
    wins = {}
    win_count = 0
    
    bracket_sets = smash.bracket_show_sets(bracket, 1)
    bracket_df = pd.DataFrame(data=bracket_sets, columns=bracket_sets[0].keys())
    players_list = bracket_df.loc[:, ['entrant1Name', 'entrant2Name']]
    unique_players = np.unique(players_list)
    
    for player in unique_players:
        win_count = 0
        for i in range(0, len(bracket_df['winnerName'])):
            if player == bracket_df['winnerName'][i]:
                win_count += 1
                print(bracket_df['winnerName'][i])
        wins[player] = win_count
        
    return wins

win_count(1829817)

Catway | Onin
Catway | Onin
Catway | Onin
Liquid | Dabuz
Maister
Maister
Moist | Light
Moist | Light
Solary | Glutonny
T1 | MkLeo

{'Catway | Onin': 3,
 'Liquid | Dabuz': 1,
 'Liquid | Riddles': 0,
 'Maister': 2,
 'Moist | Kola': 0,
 'Moist | Light': 2,
 'Solary | Glutonny': 1,
 'T1 | MkLeo': 1}